/*************************************************
 *  Page content
 **************************************************/

.article-container {
  max-width: 1000px;
  padding: 0 20px 0 20px;
  margin: 50px auto 0 auto; }
  
h1 {
  font-weight: 600;
  border-bottom: 3px solid #000;
}

h2 {
  padding: 0.5rem 1rem;
  font-weight: 700;
  border-left: 8px solid #000;
  background: #f4f4f4;    
  margin-top: 1.5rem;
}

.portrait-title h2 {
  border-left: none;
  background: #ffffff
}

.section-heading h1 {
  margin: 0 0 10px 0;
  border-bottom: none;
}

.article-style img, .article-style video {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.hljs {
    font-size: 120%;
    background: #f8f8f8;
}

.footnotes {
    font-size: 75%;
}

.toc-list {
    font-size: 75%;
    position: fixed;
    top: 100px;
    left: 50px;
    width: 280px
}

.mjx-container[jax="CHTML"][display="true"] {
  overflow-x: auto;
}

